* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* FONT CHANGE ONLY */
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #feffc1;
  min-height: 100vh;
}

/* ===== HEADER ===== */
.top-bar {
  padding: 20px 40px;
  font-size: 40px;
  background-color: #ffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 500;
  position: sticky;
  top: 0;
  z-index: 100;
}

.app-name {
  font-weight: 600;
}

/* ===== PAGE LAYOUT ===== */
.page-wrapper {
  min-height: calc(100vh - 80px);
  padding: 40px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ===== TITLE ===== */
.page-title {
  background-color: white;
  padding: 18px 50px;
  border-radius: 30px;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 40px;
}

/* ===== FORM CONTAINER ===== */
.form-container {
  width: 100%;
  max-width: 1000px;
  background-color: white;
  border-radius: 40px;
  padding: 60px 80px;

  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}

/* ===== FORM ===== */
.inspection-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 40px;
}

.inspection-form .form-group:nth-child(5),
.submit-btn {
  grid-column: span 2;
}

/* ===== FORM GROUP ===== */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-size: 14px;
  font-weight: 500;
}

/* ===== INPUTS ===== */
input,
textarea,
select {
  width: 100%;
  padding: 14px 16px;
  box-sizing: border-box;
  border-radius: 16px;
  border: 2px solid #ddd;
  font-size: 14px;
  background-color: white;

  transition:
    border-color 0.25s ease,
    box-shadow 0.25s ease,
    transform 0.2s ease;
}

textarea {
  resize: none;
  min-height: 120px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #c7e5b5;
  box-shadow: 0 0 0 4px rgba(124, 229, 58, 0.3);
  transform: scale(1.01);
}

/* ===== BUTTON ===== */
.submit-btn {
  margin-top: 10px;
  padding: 16px;
  border-radius: 24px;
  border: none;

  background-color: #c7e5b5;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;
}

.submit-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18);
}

.submit-btn:active {
  transform: translateY(0);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

/* ===== MOBILE ===== */
@media (max-width: 700px) {
  .page-title {
    font-size: 28px;
    padding: 14px 30px;
    text-align: center;
  }

  .form-container {
    padding: 30px 24px;
    border-radius: 30px;
  }

  .inspection-form {
    grid-template-columns: 1fr;
  }

  .inspection-form .form-group:nth-child(5),
  .submit-btn {
    grid-column: span 1;
  }
}
